<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>91108883702-ug83g83thr14k8skkbn25tovbn9mni2s.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.91108883702-ug83g83thr14k8skkbn25tovbn9mni2s</string>
  <key>ANDROID_CLIENT_ID</key>
  <string>91108883702-73vru76uudnr4jk8smufl1p3hh8djacg.apps.googleusercontent.com</string>
  <key>API_KEY</key>
  <string>AIzaSyABVvlF-bhW9xx62h2HTA4ANnT2rANH35Q</string>
  <key>GCM_SENDER_ID</key>
  <string>91108883702</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.kounslr.mobileApp</string>
  <key>PROJECT_ID</key>
  <string>kounslr-3c7f3</string>
  <key>STORAGE_BUCKET</key>
  <string>kounslr-3c7f3.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:91108883702:ios:a583601926ee4c562740d7</string>
</dict>
</plist>