<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobile_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
				<key>dateExpires</key>
				<string>8/19/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>8.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>3.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>5.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA0C98FFAFF794A113675DBC3585FA4ECBD8FC7</string>
						<key>dateExpires</key>
						<string>8/19/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8J372L8B5Y</string>
						<key>name</key>
						<string>Uday Dikshit</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8J372L8B5Y.com.kounslr.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8J372L8B5Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8J372L8B5Y.com.kounslr.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>77bbc13d-0692-41c5-b020-a68631a7c1fa</string>
				<key>dateExpires</key>
				<string>8/19/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.kounslr.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8J372L8B5Y</string>
				<key>name</key>
				<string>Uday Dikshit</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.0</string>
		</dict>
	</array>
</dict>
</plist>
